

.listUl{
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
    margin: 30px;
}

.listsUl li {
    /* display: flex;
    float: left;
    max-width: calc(100%/26 - 10px);
    list-style: none; */
    height: 112px;
    width: 112px;
    margin: 25px;
    display: inline-block;
    vertical-align: middle;
}

.cards {
    padding: 4rem;
    background: #fff;
  }
  
  h1 {
    text-align: center;
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .cards__items {
    margin-bottom: 24px;
  }