@value makerGreen, makerBlack, makerWhite,makerCharcoal,makerLightPink from '../../common/colors.module.css';

.header {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: makerGreen;
  position: relative;
}

.logo {
  width: 3em;
}

.title {
  margin: 0;
  color: makerWhite;
}

/* .onLogout{
  position: absolute;
  width: 7% !important;
  font-size: 10px;
  color: white;
  font-weight: bold;
  right: 1em;
  top: 1em;
  padding: 0.8em;
  border-radius: 7%;
  background-color: makerLightPink;
  box-shadow: 1px 1px 1px 1px gray;
  cursor: pointer;
} */

