@value modal-txtAlign : center;
@value modal-width : 100%;
@value makerWhite from './common/colors.module.css';
@value makerCharcoal from './common/colors.module.css';


.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .modal-header, .modal-footer{
    background-color: makerWhite;
  }
  
  .custom-modal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .custom-modal button{
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #231f20;
    border-color: #231f20;
    background-image: -webkit-linear-gradient(bottom, rgb(109, 2, 2) 6%, rgb(201, 0, 0) 61%);
  }
  .custom-modal button:hover{
    color: #231f20;
  }


  .onLogout{
    position: absolute;
    width: 7% !important;
    font-size: 10px;
    color: white;
    font-weight: bold;
    right: 1em;
    top: 1em;
    padding: 0.8em;
    border-radius: 10%;
    background-color: rgb(241, 0, 0) !important;
    box-shadow: 2px 2px 2px 1px gray;
    cursor: pointer;
  }

  .custom-modal-close{
    background-color: rgb(241, 0, 0);
    background-image: -webkit-linear-gradient(bottom, rgb(109, 2, 2) 6%, rgb(201, 0, 0) 61%);
    box-shadow: 2px 2px 2px 1px gray;
  }
  
  .custom-modal-close:hover{
    color: #231f20;
  }


  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  